@charset "UTF-8";

body{
	background-color:darkgreen;
	color: white;
}

#title{
	background-color: rgb(255, 255, 0);
	text-align: center;
}

#detail{
	font-size: 30px;
}

#main{
	text-align: center;
	display: flex;
	justify-content: center;
}

.big{
	transform: scale(2);
}

.width {
	height: 60px;
	width: 550px;
}

.img{
	border: 6px solid darkgreen;
}